@import './base.css';

:root {
  --hyperlink-color: #1d4ed8;
  --hyperlink-hover: #1e6bc0;
  --text-color: var(--color-heading);
  --homepage-svg-icon: var(--color-heading);
  --icon-text-color: var(--color-text);
  --icon-text-size: 12px;
}

html.dark {
  --hyperlink-color: #60a5fa;
  --hyperlink-hover: #93c5fd;
}

#app {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--color-background);
}

.clickable {
  cursor: pointer;
}

.hc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hyperlink {
  cursor: pointer;
  color: var(--hyperlink-color);
}

.hyperlink:hover {
  cursor: pointer;
  color: var(--hyperlink-hover);
}

.page-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  justify-self: center;
}
